@import 'variables';

$height-spotify-logo: 80px;
$height-menu-options: 150px;
$margin-menus: 10px;
$height-footer-user: 70px;
$height-toDisregard: calc(($height-spotify-logo + 40px) + $height-menu-options + $height-footer-user);

:host {
    max-width: 300px;
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: $color-background2;
    box-shadow: 0px 0px 15px $black-transparent2;;
    z-index: 1;

    .menus{
        flex-grow: 1;
        flex-direction: column;
        height: 100%;
        padding: 0px 40px 0px 40px;
        .image-container {
            min-height: $height-spotify-logo;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            img {
                width: 80%;
            }
        }

        .menu-container{
            width: 100%;
            height: 100%;
            &.flex{
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
            &.opcoes {
                min-height: $height-menu-options;
                flex-direction: column;
                * {
                    margin-bottom: $margin-menus;
                }
            }

            .playlist-title {
                margin: 10px 0px;
                align-self: flex-start;
                font-weight: 700;
                font-size: 0.8rem;
                color: $black-transparent;
            }

            .playlist-scroll{
                width: 100%;
                max-height: calc(95vh - $height-toDisregard);
                overflow-y: auto;

                &::-webkit-scrollbar{
                    display: none;
                }
                *{
                    margin-bottom: $margin-menus;
                }
            }
        }
    }

    .user-info{
        flex-grow: 0;
        display: block;
        bottom: 0;
        align-self: flex-end;
        height: $height-footer-user;
        width: 100%;
      
    }
}