$primary-color: #37AB00;
$background-login: #222;
$color-background: #FBFEF4;
$color-background2: #FFF;
$black-transparent: #0000004D;
$black-transparent2: #00000033;
$black-transparent3: #00000008;
$black-transparent70: rgba(0, 0, 0, 0.7);
$black-mec: rgb(14 14 14 / 64%);